@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Bowlby+One+SC&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap');

.value{
    margin-left: 40%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.slot{
    border: 1px solid black;
    text-align: center;
    font-size: xx-large;
    padding-top: 25%;
    font-family: "Bona Nova SC", serif;
}

.slot:hover{
    background-color: rgb(223, 219, 219);
}

.leave{
    margin-top: 3%;
    margin-left:46%;
    width: 115px;
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgb(190, 190, 190);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(49, 234, 33), rgb(27, 133, 17)) rgb(49, 234, 33);
    box-shadow:
     0 1px rgba(0, 255, 51, 0.277) inset,
     0 3px 5px rgba(2, 229, 40, 0.508),
     0 0 1px 1px rgba(2, 197, 35, 0.5);
    transition: .2s ease-in-out;
  }
  .leave:hover:not(:active) {
    background: linear-gradient(rgb(34, 192, 20), rgb(17, 98, 10)) rgb(34, 192, 20);
  }
  .leave:active {
    top: 1px;
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
     0 0 1px rgba(0,0,0,.5) inset,
     0 2px 3px rgba(0,0,0,.5) inset,
     0 1px 1px rgba(255,255,255,.1);
  }
}