<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/krestikiNoliki.css') }}">
</head>
<body>
    <h1>{{ room_code }}</h1>
    <a href="/"><button class="leave">Leave</button></a>
    <div id="game" data-room-code="{{ room_code }}">
        <div class="value" id="board">
            <div class="slot" data-num="1" data-value=""></div>
            <div class="slot" data-num="2" data-value=""></div>
            <div class="slot" data-num="3" data-value=""></div>
            <div class="slot" data-num="4" data-value=""></div>
            <div class="slot" data-num="5" data-value=""></div>
            <div class="slot" data-num="6" data-value=""></div>
            <div class="slot" data-num="7" data-value=""></div>
            <div class="slot" data-num="8" data-value=""></div>
            <div class="slot" data-num="9" data-value=""></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/krestikiNoliki.js') }}"></script>
</body>
</html>