<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
<body>
    <div class="buttons">
            <form  action="/create" method="POST">
                <button class="create">create room</button>
            </form>

        <br>
        <form action="/join" method="post">
            <button class="join"> join room </button>
            <input type="text" name="room_code" class="join room" maxlength="5" placeholder="code">
        </form>
    </div>
</body>
</html>